html 
    head 
        title=Questions
        meta(charset="utf-8")
        link(rel="stylesheet" href="/style.css")

    body 
        if question.id
            img(src=`/images/obraz_${question.id}.png`)

        form(action="/questions/fileupload" method="post" enctype="multipart/form-data" id="form1" accept-charset="utf-8")
            label(for="filetoupload") Zdjecie: <br>
            input(type="file" name="filetoupload" accept=".png" required) 
            br
            label(for="Question") Pytatnie: <br>
            textarea(name="question" id="question" rows="4" cols="80" form="form1") #{question.description}
            input(type="hidden" id="id" name="id"  value=`${question.id}`)
            ol(type="A")
                li
                    -var firstChecked = question.answerValue1 == "1";
                    -var secondChecked = firstChecked == false;
                    input(type="text" id="ans1" name="description1" size="70" required value = `${question.answerDescription1}`)
                    label(for="ans1t") Tak
                    input(type="radio" id="ans1t" name="answer1" value="1" checked=firstChecked)
                    label(for="ans1f") Nie
                    input(type="radio" id="ans1f" name="answer1" value="0" checked=secondChecked)

                li
                    -var firstChecked = question.answerValue2 == "1";
                    -var secondChecked = firstChecked == false;
                    input(type="text" id="ans2" name="description2" size="70" required value=`${question.answerDescription2}`)
                    label(for="ans2t") Tak
                    input(type="radio" id="ans2t" name="answer2" value="1" checked=firstChecked)
                    label(for="ans2f") Nie 
                    input(type="radio" id="ans2f" name="answer2" value="0" checked=secondChecked)

                li
                    -var firstChecked = question.answerValue3 == "1";
                    -var secondChecked = firstChecked == false;
                    input(type="text" id="ans3" name="description3" size="70" required value = `${question.answerDescription3}`)
                    label(for="ans3t") Tak
                    input(type="radio" id="ans3t" name="answer3" value="1" checked=firstChecked)
                    label(for="ans3f") Nie
                    input(type="radio" id="ans3f" name="answer3" value="0" checked=secondChecked)

            input(type="submit") 